<!doctype html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<main layout:fragment="content">
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="flex flex-wrap -mb-4">
            <div class="w-1/3 py-4 mb-4" th:each="vehicle : ${vehicles}">
                <div class="px-4 sm:px-0">
                    <div class="max-w-sm rounded overflow-hidden shadow-lg">
                        <img style="height: 250px" class="w-full" th:src="${vehicle.thumbnail}"
                             th:alt="|${vehicle.model} - ${vehicle.brand}|">
                        <div class="px-6 py-4">
                            <div th:text="|${vehicle.model} - ${vehicle.brand}|" class="font-bold text-xl mb-2">
                                The Coldest Sunset
                            </div>
                            <p class="text-gray-700 text-base flex justify-between">
                                <span th:text="${vehicle.year}"></span>
                                <span th:inline="text">R$ [[${#numbers.formatDecimal(vehicle.price, 0, 'POINT', 2, 'COMMA')}]]</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>